{% extends 'base.html' %}
{% load etoleto humanize flatblock_tags %}

{% block page-title %}Продукция :: {{ object.title }}{% endblock %}

{% block content %}
<div class="grid">
    <div class="col-1-1">
        <h1>{{ object.title }}</h1>
    </div>
</div>

<div class="grid article">
  {% include 'include/gallery.html' %}
  <div class="col-10-16 pl30">
    <div>{{ object.short_descr|safe }}</div>

    <h3 class="pt25 mb5">Состав</h3>
    <div>{{ object.composition }}</div>
    <table class="product-content">
      <tbody>
        <tr>
          <td>Энергетическая ценность (100 грамм)</td>
          <td class="text-right">{{ object.calories }} ккал</td>
        </tr>
        <tr>
          <td>Белки (100 грамм)</td>
          <td class="text-right">{{ object.proteins }}</td>
        </tr>
        <tr>
          <td>Жиры (100 грамм)</td>
          <td class="text-right">{{ object.fats }}</td>
        </tr>
        <tr>
          <td>Углеводы (100 грамм)</td>
          <td class="text-right">{{ object.carbs }}</td>
        </tr>
      </tbody>
    </table>

    {% if object.storage %}
    <h3 class="pt30 mb5">хранение</h3>
    {{ object.storage }}
    {% endif %}

    <div class="mt10">
        <a href="{% url 'wheretobuy' %}" class="buy-btn mt20"><span class="basket"></span>Где купить</a>
        <a href="{% url 'products' %}" class="btn-arrow mt10 mb50">вернуться к списку продуктов</a>
    </div>
  </div>
</div>

{% plain_flatblock 'product-first' %}

<div class="grid">
  <div class="col-6-16">
    <hr class="wavy mt10 mr5">
  </div>
  <div class="col-4-16 text-center">
    <h3 class="m0">блюда с этим продуктом</h3>
  </div>
  <div class="col-6-16">
    <hr class="wavy mt10 mr5"></hr>
  </div>
</div>
<div class="grid pt40 hotfix">
{% for object in object.recipes.all %}
    {% include 'news/block.html' with classes='col-1-2 overh' %}
{% endfor %}
</div>
{% endblock %}

{% include 'include/galleryjs.html' %}
