{% extends 'base.html' %}
{% load etoleto humanize flatblock_tags %}

{% block page-title %}Продукция{% endblock %}

{% block content %}
<div class="grid">
    <div class="col-1-1">
        <h1>продукция</h1>
    </div>
</div>
<div class="grid grid-pad production">
    {% for object in object_list %}
    <div class="col-1-4">
        <a href="{{ object.get_absolute_url }}" class="product">
            <img src="{{ object.preview.url }}" alt="">
            <figcaption><h3>{{ object.title }}</h3><span class="secondary-text">{{ object.weight }}</span></figcaption>
        </a>
    </div>
    {% endfor %}
</div>

{% plain_flatblock 'product-first' %}
{% plain_flatblock 'product-goods' %}
{% endblock %}