{% extends 'base.html' %}
{% load etoleto %}

{% block content %}
  <div class="grid">
    <div class="col-11-16 pr30">
        {% eval flatpage.content %}
    </div>
    <div class="col-5-16 pl30">
      <h1>фотогалерея</h1>
      {% about_gals %}
      <div class="gallery-content">
        <ul class="no-bullet">
          {% for gal in about_gals %}
          <li class="mb20">
            <a href="{{ gal.image.url }}" class="fancybox gallery-preview" rel="gal{{ gal.id }}" title="{{ gal.title }}">
              <div href="" class="gallery-overlay"></div>
              <p class="gallery-name">{{ gal.title }}</p>
              <img src="{{ gal.preview.url }}" />
            </a>
            {% for img in gal.images.all %}
            <a href="{{ img.image.url }}" class="fancybox" rel="gal{{ gal.id }}" title="{{ img.title }}"></a>
            {% endfor %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block footjs %}
<script type="text/javascript" src="{{ STATIC }}js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{ STATIC }}js/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $(".fancybox").fancybox({
        prevEffect: 'none',
        nextEffect: 'none',
        helpers: {
            title: {
                type: 'outside'
            },
            thumbs: {
                width: 80,
                height: 80
            },
            overlay: {
                locked: false
            }
        }
    });
});
</script>
{% endblock %}
