{% load cache static compress flatblock_tags %}
{% get_static_prefix as STATIC %}
<!DOCTYPE html>
{% comment %}
Модное слово - дисклеймер.
Для начала - очень жаль, что вёрстку делал не я.

Увы, код очень "шумный", много лишнего, вертикальный ритм всё время рвётся.
Некоторые, особо страшные места, типа галереи, я переделал, стилизовал поиск, 
сделал нормальное уведомление для старых браузеров (увы, фрилансер с задачей копипаста с одного моего проекта
не справился и вставил уведомление, которое оставляло только кривую надпись "куку, в семёрке ничё не работает") и ещё кое-чего по мелочи.

В бекенде я постарался оптимизировать всё, что можно. 
Я подключил минификаторы html, js, css, оптимизировал (какие смог, успел) изображения. К сайту подключено полносайтовое кеширование и...словом, он вполне выдержит нормальную нагрузку и будет достаточно шустро загружаться у посетителей.
За скорость рендера не могу ручаться, но она будет не очень высокой (скорее, средней) - просьбу "минимум каскадирования" фрилансер воспринял как-то иначе, чем предполагается (а предполагается АНБ в идеале), поэтому каскады тут есть, хотя и не жуткие. Но это "компенсировано" натравливанием пачек классов на элементы, что, разумеется, наложит дополнительные расходы на движок браузера.
Короче, сам виноват - в спешке не обратил на много внимания.
Так же тут есть тесты, но на них времени мне не хватило, поэтому они закрывают только кусок переделанных flatpages из джанго.

Кое-какие места хотелось бы сделать получше, но, увы, времени нет, да и заказчики, похоже, не очень в этом заинтересованы.
В целом, всё неплохо, жить будет.

В коде присутствуют комментарии. В общем, если кто-то когда-то полезет работать с этим кодом - вам понадобится знание sass, django, django-suit, django-compressor, imagekit и всё.

Всем, кто это будет читать - удачи и всего наилучшего.
{% endcomment %}
<html>
  <head>
    <title>Это Лето :: {% block page-title %}{% endblock %}</title>
    <meta charset="utf-8">
    {% if not debug %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% endif %}
    {% comment %}
    <meta name="description" content="">
    <meta name="keywords" content="">
    {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}<link rel="stylesheet" href="{{STATIC}}css/master.css">{% endcompress %}
    {% compress css inline %}{% block extracss %}{% endblock %}{% endcompress %}
    <!--[if lt IE 9]>
        {% compress css inline %}
        <link rel="stylesheet" href="{{STATIC}}css/ie8.css">
        {% endcompress %}
    <![endif]-->
    <!--[if lte IE 9]>
        {% compress css inline %}
        <link rel="stylesheet" href="{{STATIC}}css/lteie9.css">
        {% endcompress %}
    <![endif]-->
    <!--[if lte IE 7]>
        {% compress css inline %}
        <link rel="stylesheet" href="{{STATIC}}css/lteie7.css">
        {% endcompress %}
    <![endif]-->
    <!--[if IE]>
        {% compress js inline %}
        <script src="{{STATIC}}js/html5-shiv.js"></script>
        {% endcompress %}
    <![endif]-->
  </head>
  <body>
    <div id="root" class="wrapper">
      <header>
        <div class="grid header-top">
          <div class="col-9-16 social-icons">
            {% plain_flatblock 'layout-social' %}
          </div>
          <div class="col-7-16 search">
            <form action="{% url 'search' %}" method="get">
              <input type="text" name="query" value="{% block searchquery %}{% endblock %}" placeholder="найти на сайте">
              <button class="search-btn" type="submit"><i class="icon-search"></i></button></form>
          </div>
        </div>
        <div class="header-{% block header-class %}common{% endblock %}">
          <div class="grid">
            <div class="col-4-16">
              <a {% if not ismain %}href="/"{% endif %} class="logo"></a>
            </div>
            <div class="col-5-16 main-phone">
                {% plain_flatblock 'layout-phones' %}
            </div>
            <div class="col-7-16">
              {% plain_flatblock 'layout-internetshop' evaluated %}
            </div>
          </div>
          <div class="grid">
            <ul class="col-1-1 menu no-bullet inline text-center">
                {% for item in menu %}
                <li><a href="{{ item.path }}" {% if request.path == item.path %}class="active"{% endif %}>{{ item.title }}</a></li>
                {% endfor %}
            </ul>
          </div>
          {% block extra-head %}{% endblock %}
        </div>
      </header>
      {% block content %}{% endblock %}
      <div id="root_footer"></div>
    </div>

    <div id="footer">
      <div class="grid">
        <hr class="wavy mt50">
      </div>
      <div class="grid pt50 pb50">
        <div class="col-12-16 centered text-center partners-list">
            {% for partner in partners %}
                {% if partner.link %}<a href="{{ partner.link }}">{% endif %}<img src="{{ partner.preview.url }}" alt="" class="partners-list-logo" />{% if partner.link %}</a>{% endif %}
            {% endfor %}
        </div>
      </div>
      <footer>
        <div class="grid">
            <ul class="col-1-1 menu no-bullet inline text-center">
                {% for item in menu %}
                <li><a href="{{ item.path }}" {% if request.path == item.path %}class="active"{% endif %}>{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid">
          <div class="col-4-16">
            <a {% if not ismain %}href="/"{% endif %} class="logo"></a>
          </div>
          <div class="col-5-16 main-phone">
            {% plain_flatblock 'layout-phones' %}
          </div>
          <div class="col-7-16">
            <a href="http://advertrio.com" class="advertio-logo right mt15"></a>
          </div>
        </div>
      </footer>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% compress js %}
      {% block footjs %}{% endblock %}
    {% endcompress %}
    <!--[if lte IE 9]>
        {% compress js inline %}
        <script src="{{STATIC}}js/placeholder.js"></script>
        {% endcompress %}
    <![endif]-->
    <!--[if lte IE 7]>
    <div class="old-browsers">
      {% plain_flatblock 'layout-oldbrowsers' %}
      <div class="old-browsers-iwanttosee">
        <a href="javascript:void($('.old-browsers').hide())">Закрыть уведомление</a>
      </div>
    </div>
    <![endif]-->
  </body>
{{counter_yandex}}{{counter_google}}
</html>