<div class="col-6-16 product-gallery">
    <div class="product-gallery-big">
        {% if object.images.all %}
        <a href="#"><img src="{{ object.images.all.0.preview_big.url }}" class="product-gallery-big-image" alt="" /></a>
        {% else %}
        <a href="#"><img src="{{ object.preview_big.url }}" class="product-gallery-big-image" alt="" /></a>
        {% endif %}
    </div>
    {% if object.images.all|length > 1 %}
    <ul class="product-gallery-tumbs">
        {% for img in object.images.all %}
        <li class="product-gallery-tumbs-line">
            <a href="{{ img.preview_big.url }}" class="product-gallery-tumbs-link {% if forloop.first %}active{% endif %}" data-origin="{{ img.image.url }}" data-index="{{ forloop.counter0 }}"><img src="{{ img.preview.url }}" class="product-gallery-tumbs-img" alt=""></a>
        {% endfor %}
    </ul>
    {% endif %}
</div>