{% extends 'base.html' %}
{% load humanize %}

{% block page-title %}Рецепты :: {{ object.title }}{% endblock %}

{% block content %}
<div class="grid">
  <div class="col-1-1">
    <h1>{{ object.title }}</h1>
  </div>
</div>
<div class="grid article">
  <div class="col-6-16 article-gallery">
    <ul class="gallery jcarousel-skin-pika">
      {% if object.images.all %}
          {% for img in object.images.all %}
          <li><a href="{{ img.image.url }}" rel="product"><img src="{{ img.preview.url }}"></a></li>
          {% endfor %}
      {% else %}
          <li><a href="{{ object.image.url }}" rel="product"><img src="{{ object.preview.url }}"></a></li>
      {% endif %}
    </ul>
  </div>
  <div class="col-10-16 pl30">
    <h3>Ингредиенты</h3>
    <p>на 10 порций:</p>
    <ul class="dashed">
      <li>пачка размягченного <a href="">Масла «Это Лето»</a> 1 штука</li>
      <li>лайм 1 штука</li>
      <li>горсть руколы 1 штука</li>
      <li>крупный красный сладкий перец 1 штука</li>
      <li>чеснок 4 зубчика</li>
      <li>соль, перец 2 щепотки</li>
    </ul>

    <h3 class="pt45">Инструкция</h3>
    <p>Время приготовления 15 минут.</p>
    <p>Руколу мелко рубим, можно блендером немного измельчить. Выжимаем сок
      половины лайма. Смешиваем с 1/2 пачки мягкого масла. Перец и чеснок
      запекаем в духовке, снимаем кожицу, пюрируем. Добавляем во вторую
      половину масла.</p>
    <p>Выкладываем на пленку, формируем "колбаски" и отправляем
      в холодильник.</p>
    <p>Подаем со свежим хлебом, добавляем к рису, картофельному пюре.
      Время приготовления 15 минут.</p>
    <p>Руколу мелко рубим, можно блендером немного измельчить. Выжимаем сок
      половины лайма. Смешиваем с 1/2 пачки мягкого масла. Перец и чеснок
      запекаем в духовке, снимаем кожицу, пюрируем. Добавляем во вторую
      половину масла.</p>
    <p>Выкладываем на пленку, формируем "колбаски" и отправляем
      в холодильник.</p>
    <p>Подаем со свежим хлебом, добавляем к рису, картофельному пюре.</p>

    <h3 class="pt45">Примечание</h3>
    <p>Лаймовое масло роскошно сочетается с рыбой! Даже самую обычную
    треску превращает в нечто!</p>

    <a href="" class="btn-arrow mt50 mb50">вернуться к списку рецептов</a>
  </div>
</div>
<div class="grid mt50">
  <hr class="wavy">
</div>
<div class="grid pt50">
  <section class="col-1-2">
    <article class="excerpt">
      <a href="" class="excerpt-img">
        <div class="img-border"></div>
        <img src="../img/article-cows.png" alt="">
      </a>
      <span class="info-text">12 сентября 2014</span>
      <h3>Фермерский Фестиваль Slow Food 2014</h3>
      <p>Экологическое Хозяйство «Спартак» примет участие в Фермерском Фестивале Slow Food 2012, который пройдет с 14-16 сентября 2012 года.</p>
      <div class="clear"></div>
    </article>
  </section>
  <section class="col-1-2">
    <article class="excerpt">
      <a href="" class="excerpt-img">
        <div class="img-border"></div>
        <img src="../img/article-cows.png" alt="">
      </a>
      <span class="info-text">12 сентября 2014</span>
      <h3>Ароматное масло с руколой, лаймом и чесноком</h3>
      <p>Лаймовое масло роскошно сочетается с рыбой. Даже самую обычную треску превращает в нечто!</p>
      <div class="clear"></div>
    </article>
  </section>
</div>
{% endblock %}

{% block footjs %}
<script type="text/javascript" src="{{ STATIC }}js/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{ STATIC }}js/jquery.fancybox-thumbs.js"></script>
<script type="text/javascript" src="{{ STATIC }}js/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="{{ STATIC }}js/jquery.pikachoose.js"></script>
<script type="text/javascript" src="{{ STATIC }}js/product-init.js"></script>
{% endblock %}