{% extends 'base.html' %}
{% load humanize %}

{% block page-title %}Рецепты :: {{ object.title }}{% endblock %}

{% block content %}
<div class="grid">
  <div class="col-1-1">
    <h1>{{ object.title }}</h1>
  </div>
</div>
<div class="grid article">
  {% include 'include/gallery.html' %}
  <div class="col-10-16 pl30">
    <h3>Ингредиенты</h3>
    <p>{{ object.ingredients_prefix }}</p>
    <ul class="dashed">
      {% for item in object.ingridients.all %}
      <li>{{ item.title }}
      {% endfor %}
    </ul>

    <h3 class="pt45">Инструкция</h3>
    {{ object.instruction }}
    
    {% if object.note %}
    <h3 class="pt45">Примечание</h3>
    {{ object.note }}
    {% endif %}

    <div>
        <a href="{% url 'recipes' %}" class="btn-arrow mt50 mb50">вернуться к списку рецептов</a>
    </div>
  </div>
</div>
{% if related %}
    <div class="grid mt50">
      <hr class="wavy">
    </div>
    <div class="grid pt50 hotfix">
        {% for object in related %}
            {% include 'news/block.html' with classes='col-1-2 overh' %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

{% block extrafoot %}
  {% include 'include/galleryjs.html' %}
{% endblock %}
