{% extends 'base.html' %}
{% load etoleto humanize %}

{% block page-title %}Где купить{% endblock %}

{% block content %}
<div class="grid">
  <div class="col-1-1"><h1>Где купить</h1></div>
</div>
<div class="grid">
    <div class="col-1-1">
    {% regroup object_list by pos_type as groups %}
    {% for group in groups %}
        {% if group.grouper == 0 %}
            <h3>в торговых сетях:</h3>
            <ul class="inline no-bullet shop-list">
                {% for item in group.list|dictsort:'order' %}
                <li class="mr15">
                    <a href="{% if item.link %}{{ item.link }}{% else %}{{ item.title|map_link }}{% endif %}" target="_blank">
                        <span class="shop-logo"><img src="{{ item.preview.url }}" alt="{{ item.title }}"></span>
                    </a>
                    <a href="{% if item.link %}{{ item.link }}{% else %}{{ item.title|map_link }}{% endif %}" class="show-map" target="_blank">
                        <span class="pointer"></span>&nbsp;
                        <span class="border">показать на карте</span>
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <h3 class="pt30">в интернет-магазинах:</h3>
            <ul class="inline no-bullet shop-list shop-inet">
                {% for item in group.list %}
                    <li class="mr15">
                        {% if item.link %}<a href="{{ item.link }}" target="_blank">{% endif %}
                            <span class="shop-logo"><img src="{{ item.preview.url }}" alt="{{ item.title }}" class="pb10"></span>
                        {% if item.link %}</a>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
